#btnSave{
    -fx-background-color: #6495ED;
}

#btnDelete{
    -fx-background-color: #bcd711;
}

.table-row-cell:selected{
    -fx-background-color:linear-gradient(from 0% 0% to 100% 100%, white 0%, #f300ff 50%, white 100%);
}

.txt {
    -fx-text-inner-color: white;
    -fx-prompt-text-fill: white;
}

